@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');   /* Roboto font*/

:root {
    --primaryDark: #141719;
    --primaryLight:#F0F3F4;
    --secondaryDark: #163547;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--primaryDark);
}

/*HEADER and NAVIGATION*/
.mainHeader {
    display: flex;
    justify-content: space-between;
    background-color: var(--primaryDark);
    width: 100%;
}

.hamburgerIcon {
    display: none;
}

.mobileNavBar {
    display: none;
}

.textIcon {
    align-self: flex-start;
    color: var(--primaryLight);
    margin-top: 8px;
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 10px;
}

.textIcon a{
    text-decoration: none;
    color: var(--primaryLight);
}

/* DESKTOP NAVIGATION BAR */
.desktopNavBar {
    display: flex;
    color:var(--primaryLight);
    justify-content: space-between;
    margin: 0 200px;
    border-top: 1px solid var(--primaryLight);
    border-bottom: 1px solid var(--primaryLight);
}

.desktopNavBar a {
    text-decoration: none;
    color:var(--primaryLight);
    font-size: 0.95em;
}

.desktopNavBar li {
    padding: 15px 30px;
    list-style-type: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primaryDark);
}

/* to prevent jerkiness when scrolling */
.stickyBuffer {
    height: 50px;
    width: 100%;
    display:block;
}

/*SIGN UP and SIGN IN SECTION*/
.signInSection {
    display: flex;
    flex-direction: column;
}

.signInBtn {
    background-color: var(--secondaryDark);
    color: var(--primaryLight);
    border-radius: 5px;
    border:none;
    margin: 10px 0;
    margin-right: 8px;
    padding: 9px;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}

.newUserText {
    color:var(--primaryLight);
    margin-right: 8px; 
}

.signUpLink {
    margin: 10px 0;
    margin-right: 8px;
    color: #91ADFC; 
    text-decoration: none;
}

/* HERO */
.heroContainer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heroText {
    margin-top: 80px;
    text-align: center;
    color: var(--primaryLight);
    font-size: 1.5em;
}

.heroText span {
    color: palevioletred;
}

.heroSubSlogan {
    font-size: 0.8em;
    margin-top: 20px;
    color: var(--primaryLight);
}

.heroImageContainer {
    margin-top: 60px;
}

.heroImage {
    background-image: url("../images/logo.jpg");
    background-size: contain;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

/* SECTION BELOW LOGO */
.heroSubContainer {
    margin-top: 60px; 
    display:flex;
    flex-direction: column;
}
.secondarySlogan {
    color: var(--primaryLight);
    text-align: center;
}

.secondarySubSlogan {
    color:var(--primaryLight);
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
}

.knowUsBtn {
    align-self: center;
    background-color: var(--primaryDark);
    color: var(--primaryLight);
    border:1px solid var(--primaryLight);
    margin: 20px 70px;
    padding: 9px;
    font-size: 1em;
    width: 200px;
    text-decoration: none;
    text-align: center;
}

/* MAIN */
.cardSection {
    margin-top: 30px;
    display: flex;  
    flex-wrap: wrap;
}

.cardContainer {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    padding: 80px;
    background-color: var(--primaryLight);
    align-items: center;
}

.cardContainer h2 {
    color:var(--secondaryDark);
    margin-bottom: 15px;
    font-size: 1.1em;
}

.cardImage1 {
    background-image: url(../images/skullMug.png);
    background-size: cover;
    width: 450px;
    height: 300px;
    border-radius: 20px;
}

.cardImage2 {
    background-image: url(../images/blackboard.png);
    background-size: cover;
    width: 450px;
    height: 300px;
    border-radius: 20px;
}

.cardImage3 {
    background-image: url(../images/clock.png);
    background-size: cover;
    width: 450px;
    height: 300px;
    border-radius: 20px;
}

.cardDescription {
    margin-top: 20px;
    color:var(--secondaryDark);
}

.cardButton{
    margin-top: 10px;
    background-color: var(--secondaryDark);
    padding: 5px 10px;
    border-radius: 5px;
    border:none;
    outline: none;
    text-decoration: none;
    color:var(--primaryLight);
    font-size: .8em;
}

/* FOOTER */
.footer {
    display: flex;
    min-height: 100px;
    background-color: var(--primaryDark);
    color: var(--primaryLight);
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.socialIcons {
    display: flex;
    width: 130px;
    justify-content: space-between;
    flex-direction: row;
}

.socialIcons a img {
    height: 30px;
    width: 30px;
}


/* SIGN UP FORM */
.formContainer {
    width: 300px;
    height: 550px;
    background-color: var(--primaryLight);
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 100px;
    flex-direction: column;
}

.formContainer h2 {
    font-size: 1.3em;
    margin-bottom: 14px;
}

.formContainer hr {
    width: 90%;
}

.signUpForm {
    display: flex;
    flex-direction: column;
}

.signUpForm #signUpSubmit {
    width: 50%;
    color: var(--primaryLight);
    background-color: var(--secondaryDark);
    border-radius: 5px;
    border: none;
    padding: 5px 0;
}

.formControl{
    padding: 10px 40px;
}

.formControl label {
    display: block;
}

.formControl input{
    width: 100%;
}

#submitContainer {
    display:flex;
    justify-content: center;
}

.phoneNumberBlocks {
    display: flex;
    justify-content: space-between;
}

.phoneNumberBlocks input {
    width: 32%;
}

/* SURVEY */
.surveyContainer {
    background: var(--primaryLight);
    width: 400px;
    height: 270px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 0;
}

.surveyContainer h2 {
    margin-bottom: 5px;
    text-align: center;
}

.surveyQuestion {
    padding:  10px;
    position: relative;
}

.surveyQuestion p {
    margin-bottom: 10px;
}

.nextButton {
    display: block;
    width: 30%;
    height: 30px;
    border: none;
    background-color: var(--secondaryDark);
    color:white;
    padding: 6px;
    margin: 10px auto;
    border-radius: 5px;
}

.surveyQuestion input div{
    display: block;
}

#question1 {
    display: block;
}

#question2 {
    display: none;
}

#question3 {
    display: none;
}

#question4 {
    display: none;
}

#question5 {
    display: none;
}

.surveyError {
    color:red;
    position: absolute;
    top: 180px;
    display: none;
}

#surveySubmit {
    display: block;
    width: 30%;
    height: 30px;
    border: none;
    background-color: var(--secondaryDark);
    color:white;
    padding: 6px;
    margin: 10px auto;
    border-radius: 5px;
}

/* EVENTS PAGE*/
#myInput {
    background-position: 10px 12px; 
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px;  
    margin-bottom: 12px; 
}   

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    background-color: white; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
    border: gray solid 1px;
}

#myUL li a:hover:not(.header) {
    background-color: lightgray;
}

.calendarContainer {
    height: 70vh;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primaryLight); 
}

.calendarContainer iframe {
    border-radius: 5px;
}

/* HISTORY PAGE */
.historySection {
    width: 50%;
    height: 25vh;
    margin: auto;
}

.historySection h1 {
    text-align: center;
    margin-top: 100px;
}

.historySection p {
    text-align: center;
    margin-top: 50px;
}

.historySection ul{
    margin-top: 10px;
    text-align: center;
    list-style-type: none;
}

.historySection ul li {
    margin: 5px;
}

.historySection h4 {
    text-align: center;
    margin-top: 50px;
}

.eventsContainer {
    padding: 50px 0;
    width: 100%;
    margin: auto;
    margin-top: 10vh;
    background-color: white;
}

.eventsContainer h1 {
    color: black;
    text-align: center;
    margin-bottom: 40px;  
}

.photoRow {
    width: 70%;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.photoCard {
    margin-bottom: 10px;
}

.photoCard img:hover {
    width: 101%;
    height: 101%;
    box-shadow: 8px 8px 3px black;
    cursor: pointer;
}

.photoCard p{
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

.modalContainer {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    overflow: auto;
    background-color: black;
    display: none;
}

.modalContent {
    position: relative;
    margin: auto; 
}

.slides {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.slide p {
    text-align: center;
    padding-top: 30px;
}

.closeIcon {
    background: none;
    color:white;
    border: none;
    position: absolute;
    z-index: 99;
    top: 5px;
    right: 20px;
    font-size: 3em;
    outline: none;
}

.closeIcon:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.slideThumbnail {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.slideThumbnail img {
    margin: 5px;
    
}

.slideThumbnail img:hover {
    box-shadow: 3px 3px  red;
    padding-top: 1px; 
    cursor: pointer;
}

.inactive {
    opacity: 0.4;
}

.active {
    opacity: 1;
}

.previousSlide {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 3em;
    background: none;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}

.nextSlide {
    position: absolute;
    top: 40%;
    right: 20%;
    font-size: 3em;
    background: none;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}    


.previousSlide:hover,
.nextSlide:hover {
    color:red;
    outline: none;
}

/* SIGN IN PAGE */
.loginContainer {
    width: 300px;
    height: 330px;
    background-color: white;
    margin: 100px auto;
    padding: 15px;
    border-radius: 10px;
}

.loginContainer h2 {
    margin-bottom: 30px;
}

.loginControl {
    margin: 10px 0;
}

.loginControl input {
    width: 100%;
    display: block;
    height: 25px;
}

.loginForm input[type=submit]{
    width: 60%;
    margin-left: 55px;
    margin-top: 5px;
    background-color: var(--secondaryDark);
    color: var(--primaryLight);
    border-radius: 3px;
    border: none;
    height: 30px;
    cursor: pointer;
}

.loginForm span {
    margin: 15px 0;
    display: block;
    text-align: center;
    font-size: .9em;
}

.loginForm a {
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    border: solid 1px black;
    width: 55%;
    margin: auto;
    font-size: .8em;
    background-color: white;
    border-radius: 5px;
}

/* TUTORIALS PAGE */
.tutorialContainer {
    margin-top: 50px;
    background-color: var(--primaryLight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorialRow {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.tutorialCard {
    width: 300px;
    height: 250px;
    margin: 10px 10px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
}

.tutorialCard:hover{
    border: solid 1px green;
}

.tutorialCard h3 {
    text-align: center;
    margin-bottom: 10px;
}

.tutorialCard a {
    display: block;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #163547;
    padding: 5px 30px;
    border-radius: 5px;
}

.videoContainer {
    background-color: var(--primaryLight);
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.videoContainer iframe {
    width: 500px;
    height: 400px;
}

/* PRODUCTS PAGE */
.productsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 620px;
    background-color: white;
    margin-top: 50px;
}

#tabs {
    height: 450px;
    margin: 10px;
    background-color: var(--primaryLight);
    width: 750px;
    min-width: 375px;
    
}

#tabs-1,#tabs-2,#tabs-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.productContainer img {
    align-self: center;  /* stops image from stretching */
    border: solid 1px black;   
}

.productContainer p {
    margin: 4px 0;
    font-weight: 800;
    
}

.productContainer a {
    text-decoration: none;
    background-color: var(--secondaryDark);
    color: white;
    padding: 5px 20px;
    border-radius: 4px;
}

/* CONTACT US PAGE */
.contactContainer {
    width: 100%;
    height: 70vh;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    padding: 40px 0;
}

.contactContainer h1 {
     text-align: center;
     margin-bottom: 20px;
}

.contactContainer form {
    background-color: var(--primaryLight);
    display: flex;
    flex-direction: column;
    height: 400px;
    width:40%;
    min-width: 350px;
    justify-content: space-around;
    padding: 20px 50px;
    margin: auto;
    border-radius: 8px;
}

.contactInputControl {
    display: flex;
    flex-direction: column;
    
}

.contactInputControl input {
    height: 25px;
}

.contactInputControl textarea {
    height: 100px;
    resize: none;
}

#contactSubmit {
    width: 80px;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: var(--secondaryDark);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.clubContactInfo {
    margin: 40px;
    text-align: center;
}

.clubContactInfo ul {
    list-style-type: none;
}

/* CLUB OFFICERS */
#officerHeading {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.gridContainer {
    margin: 50px auto;
    width: 700px;
    display: grid;
    grid-template-columns: 150px 200px 300px;
    grid-template-rows: 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.gridContainer div {
    color: var(--primaryLight);
    text-align: center;
    height: 132px;
    line-height: 132px;  /* centers text vertically*/
}

.officerRole {
    background-color: var(--secondaryDark);
    border-radius: 10px;
}


.officerDescription {
    background-color:var(--primaryLight);
    border-radius: 10px;
}

.officerDescription span {
    color: black;
}

 











